<!--https://www.infragistics.com/community/blogs/b/infragistics/posts/simplifying-viewchild-nad-contentchild-in-angular-->
<div class="container">
  <h3>TODO list</h3>
  <ul class="todo-list" *ngIf="todos">
    <li *ngFor="let todo of todos">
      <app-todo [todo]="todo"></app-todo>
    </li>
  </ul>
</div>